<div>
  <link href="./header.css" rel="stylesheet" />
  <header data-role="Accordion" class="header-header">
    <a href="index.html" class="header-navlink">
      <img
        alt="logo"
        src="public/playground_assets/logowebsote-200h.png"
        class="header-image"
      />
    </a>
    <div class="header-separator"></div>
    <nav class="header-nav">
      <nav class="navigation-links1-nav navigation-links1-root-class-name19">
        <a href="award-history.html" class="navigation-links1-navlink">
          <span>About</span>
        </a>
        <a href="sponsors.html" class="navigation-links1-navlink1">
          <span>Sponsors</span>
        </a>
        <a href="gallery.html" class="navigation-links1-navlink2">
          <span>Gallery</span>
        </a>
        <a
          href="https://wheatrobotics.org"
          target="_blank"
          rel="noreferrer noopener"
          class="navigation-links1-link"
        >
          <span>WHEAT</span>
        </a>
        <a
          href="https://roboguide.team41robo.com"
          target="_blank"
          rel="noreferrer noopener"
          class="navigation-links1-link1"
        >
          <span>Robo Guide</span>
        </a>
      </nav>
    </nav>
    <div data-type="AccordionHeader" class="header-accordion-header">
      <svg viewBox="0 0 1024 1024" class="header-icon">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </div>
    <div data-type="AccordionContent" class="header-accordion-content">
      <div class="header-nav1">
        <nav class="navigation-links1-nav navigation-links1-root-class-name20">
          <a href="award-history.html" class="navigation-links1-navlink">
            <span>About</span>
          </a>
          <a href="sponsors.html" class="navigation-links1-navlink1">
            <span>Sponsors</span>
          </a>
          <a href="gallery.html" class="navigation-links1-navlink2">
            <span>Gallery</span>
          </a>
          <a
            href="https://wheatrobotics.org"
            target="_blank"
            rel="noreferrer noopener"
            class="navigation-links1-link"
          >
            <span>WHEAT</span>
          </a>
          <a
            href="https://roboguide.team41robo.com"
            target="_blank"
            rel="noreferrer noopener"
            class="navigation-links1-link1"
          >
            <span>Robo Guide</span>
          </a>
        </nav>
      </div>
    </div>
  </header>
</div>
