<div>
  <link href="./navigation-links1.css" rel="stylesheet" />
  <nav class="navigation-links1-nav">
    <a href="award-history.html" class="navigation-links1-navlink">
      <span>About</span>
    </a>
    <a href="sponsors.html" class="navigation-links1-navlink1">
      <span>Sponsors</span>
    </a>
    <a href="gallery.html" class="navigation-links1-navlink2">
      <span>Gallery</span>
    </a>
    <a
      href="https://wheatrobotics.org"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links1-link"
    >
      <span>WHEAT</span>
    </a>
    <a
      href="https://roboguide.team41robo.com"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links1-link1"
    >
      <span>Robo Guide</span>
    </a>
  </nav>
</div>
