<div>
  <link href="./stats.css" rel="stylesheet" />
  <div class="stats-stats">
    <div class="stats-stat">
      <h1 class="stats-text"><span>56</span></h1>
      <span class="stats-text01">
        <span>Events</span>
        <br />
      </span>
    </div>
    <div class="stats-stat1">
      <h1 class="stats-text04">
        <span>26</span>
        <br />
      </h1>
      <span class="stats-text07">
        <span>Seasons Competed</span>
        <br />
      </span>
    </div>
    <div class="stats-stat2">
      <h1 class="stats-text10"><span>19</span></h1>
      <span class="stats-text11">
        <span>Awards Won</span>
        <br />
      </span>
    </div>
    <div class="stats-stat3">
      <h1 class="stats-text14">
        <span>8</span>
        <br />
      </h1>
      <span class="stats-text17">
        <span>Trips  to FRC Championship</span>
        <br />
      </span>
    </div>
  </div>
</div>
